<!-- 
File: sign-up.html
Course: EN.605.787.SP25 - Front End Web App Development
Assignment: Module 10
Due Date: 5/6/2025
Author: Justin Loi - jloi2
-->
<div class="container">
    <!-- First Name Input -->
    <form name="signUpForm" ng-submit="signUpCtrl.submit()" novalidate>
      <input 
        type="text" 
        name="firstName" 
        ng-model="signUpCtrl.user.firstName" 
        placeholder="First Name"
        style="color: rgb(0, 0, 0);"
        required
      />
      <span ng-if="signUpForm.firstName.$error.required && signUpForm.firstName.$touched">
        Please enter your first name
      </span>
      <br><br/>

      <!-- Last Name Input -->
      <input 
        type="text" 
        name="lastName" 
        ng-model="signUpCtrl.user.lastName" 
        placeholder="Last Name" 
        style="color: rgb(0, 0, 0);" 
        required
      />
      <span ng-if="signUpForm.lastName.$error.required && signUpForm.lastName.$touched">
        Please enter your last name
      </span>
      <br><br/>

      <!-- Email Input -->
      <input 
        type="email" 
        name="email" 
        ng-model="signUpCtrl.user.email" 
        placeholder="Email" 
        style="color: rgb(0, 0, 0);"
        required
      />
      <span ng-if="signUpForm.email.$error.required && signUpForm.email.$invalid && signUpForm.email.$touched">
        Must be a valid email address: handle@domain format
      </span>
      <br><br/>

      <!-- Phone Number Input -->
      <input 
        type="tel" 
        name="phone" 
        ng-model="signUpCtrl.user.phone" 
        placeholder="Phone Number" 
        pattern="(\d{3})-(\d{3})-(\d{4})" 
        style="color: rgb(0, 0, 0);"
        required
      />
      <span ng-if="signUpForm.phone.$error.required && signUpForm.phone.$invalid && signUpForm.phone.$touched">
        Phone must be in the format ###-###-####.
      </span>
      <br><br/>

      <!-- Favorite Menu Item Input -->
      <input 
        type="text" 
        name="favorite" 
        ng-model="signUpCtrl.user.favorite" 
        ng-blur="signUpCtrl.validateMenuItem()"
        placeholder="Favorite Menu Number" 
        style="color: rgb(0, 0, 0);"
        required
      />
      <span ng-if="signUpForm.favorite.$error.required && signUpForm.favorite.$touched && !signUpCtrl.menuValid">
        No such menu number exists.
      </span>
      <br><br/>
      
      <button 
        type="submit" 
        ng-disabled="signUpForm.$invalid || !signUpCtrl.menuValid"
        ng-submit="signUpCtrl.submit()"
        style="color: rgb(0, 0, 0);"
      >
        Submit
      </button>
    </form>
    <p ng-if="signUpCtrl.saved">Your information has been saved.</p>
</div>